.issue-header {
  background-color: rgb(246, 248, 250);
  margin: 0px 0px 0px 0px;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(225, 228, 232);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 0px 15px;
  width: 100%;
  margin-top: 1rem;
}

.number-issues-container {
  display: flex;
  flex-direction: row;
}

.number-issues-open {
  display: flex;
  flex-direction: row;
  padding: 0px 5px 0px 5px;
  font-size: 14px;
  font-weight: 500;
  margin: 0px 6px 0px 0px;
}

.number-issues-closed {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 0px 5px;
  font-size: 14px;
  color: rgb(91, 98, 107);
}
.issues-status-count {
  padding-left: 6px;
}

.issue-header-tabs-container {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
}

.issue-header-button {
  padding: 0px 16px;
  font-size: 16px;
  color: rgb(91, 98, 107);
  cursor: pointer;
}

.issue-row {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgb(225, 228, 232);
  border-top: 0px;
  /* padding: 10px 8px 0px 16px; */
}

.issue-row:hover {
  background-color: rgb(246, 248, 250);
}

.issues-button {
  width: 140px;
  border-bottom: 2px solid rgb(240, 129, 107);
  font-weight: 600;
}

.issues-svg {
  fill: black;
}
.repo-links {
  display: flex;
  align-items: center;
}

/* IssueCard */

.issue {
  border: 1px solid rgb(225, 228, 232);
  padding: 12px;
}
.svg-and-issue {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
}

.issue-title {
  margin: 0px;
  padding: 0px 0px 0px 10px;
  font-weight: 450;
}

.issue-creator {
  padding: 8px 0px 0px 23px;
  margin: 0px;
  font-size: 12px;
  color: rgb(88, 96, 105);
  display: flex;
  align-items: center;
}
/* hover */
.issue-title:hover {
  color: var(--link-color);
}

.issue:hover
{
  background-color: #f6f8fa;
}