* {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
}

body {
  margin-top: 10px;
  margin-left: 10px;
}

.filter {
  color: #24292f;
  font-size: 13px;
  border: 1px solid rgb(189, 188, 188);
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-right: none;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  padding: 4px 10px;
  position: relative;
  width: 60px;
  text-align: center;
  background-color: #f6f8fa;
}

input[type="text"] {
  padding: 8px 2px 6px 32px;
  border: 1px solid rgb(189, 188, 188);
  background-image: url("./icon.png");
  background-size: 20px;
  background-position: 5px 5px;
  background-repeat: no-repeat;
  background-color: #f6f8fa;
  width: 729.85px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

input[type="text"]:focus {
  outline: None;
  border-color: #0366d6;
  box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
}

.dropdown-caret {
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid;
  content: none;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.other {
  display: flex;
  margin-left: 15px;
  cursor: pointer;
}

.other p {
  color: #24292f;
  font-size: 13px;
  border: 1px solid rgb(189, 188, 188);
  font-weight: 500;
  padding: 4px 20px 0px 20px;
  position: relative;
  text-align: center;
  margin: 0;
}

.other p:hover {
  background-color: #f6f8fa;
}

#first {
  border-right: none;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  background-image: url("./icon2.png");
  background-size: 30px;
  background-position: 3px 8px;
  background-repeat: no-repeat;
  padding-left: 30px;
}

#second {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background-image: url("./icon3.png");
  background-size: 17px;
  background-position: 8px 5px;
  background-repeat: no-repeat;
  padding-left: 30px;
}

#first span,
#second span {
  display: inline;
  border: 1px solid transparent;
  border-radius: 2em;
  padding: 0px 5px;
  background-color: rgb(229, 226, 226);
  margin-left: 4px;
}

.newIssue {
  font-size: 13px;
  font-weight: 500;
  color: white;
  background-color: #2da44e;
  border-radius: 6px;
  margin-left: 15px;
  cursor: pointer;
  padding: 5px 18px;
}

.newIssue:hover {
  background-color: #118f35;
}
